#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  font-display: row;
}

.list__container {
  width: 400px;
  max-height: 600px;
  border: 1px solid #888;
  border-radius: 0.5em;
  overflow: hidden;
  margin-right: 1em;
}
.list {
  height: 100%;
  overflow-y: auto;
}

.list__item {
  text-align: left;
  font-size: 12pt;
  padding: 0.75em 1.5em;
  border: 1px solid #888;
}
.list__item_selected {
  background:skyblue;
  color: whitesmoke;
}

.details__container {
  width: 302px;
  border: 1px solid #888;
  border-radius: 0.5em;
  overflow: hidden;
}

.detail {
  padding: 0.75em 25px;
  text-align: left;
  font-size: 12pt;
  border: 1px solid #888;
}

.detail-image {
  border: 1px solid #888;
}

.detail-name {
  padding: 1em 25px 1.5em 25px;
  text-align: left;
  font-size: 15pt;
  border: 1px solid #888;
  margin-top: -10px;
}
